.header{
    background-color: #1f2937;
    border-color: #1f2937;
}
body, html{
    margin: 0;
    padding: 0;
}
a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.header p{
    color: #F9FAF8;
}
.main-header{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.info-header{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    align-items: center;
}

#header-text{
    font-size: 24px;
}

.hero-text{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.inner{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
}
.inside{
    margin-top: 0px;
    margin-bottom: 100px;
}
nav{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    display: block;
}
.image{
    width: 400px;
    height: 200px;
    border: 5px solid red;
    align-self: center;
}
img{
    width: 230px;
    height: auto;

}
.info-text{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin: 30px;
    color: #1f2937;
}
.image-container{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    flex-wrap: wrap;
}

.items{
    width: 235px;
}
.text{
    text-align: center;
}
img{
    border-radius: 10px;
}
.quote-section{
    background-color: #E5E7EB;
    padding: 20px;
    display: flex;
    margin-top: 50px;

}
.quote{
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
    color: #1F2937;
}
.author{
    align-self: flex-end;
}
.call-action{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    color: #F9FAF8;

}
footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}